body {
  background-color: #1E90FF;
}

/* Google Fonts */
.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  background-color: #1D5C99;
  color: white;
  border-radius: 5px;
  border: solid 0px;
  width: 22vw;
  padding: 5px;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

#container-check {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  color: white;
  font-size: 12.5px;
  font-style: normal;
  font-weight: normal;
}

#container-check input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #1D5C99;
  border-radius: 5px;
  border: 2px solid #1D5C99;
  cursor: pointer;
  position: relative;
}

#container-check input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 2px;
}